<div class="row">
    <div class="wrapper">

        <div id="spinner"></div>

        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-click="backtohome()"> HOME </a>
                    </li>
                    <li ng-repeat="category in categories">
                        <a ng-class="isActCat===category.categoryId ? 'active':''" ng-click="getarticlebycategory(category.categoryId, category)">{{category.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-2" ng-show="isActCat>0">
                    <div class="side-bar">
                        <ul>
                            <div class="menu">
                                <li ng-repeat="atname in articlenames">
                                    <a ng-class="isActArt===atname.id?'active':''" ng-click="setArticle(atname.name)">{{atname.name}}</a>
                                </li>
                            </div>

                        </ul>
                    </div>
                </div>
                <div ng-class="isActCat>0 ? 'col-lg-10' : 'col-lg-12'">

                    <!-- Home Page -->
                    <div ng-show="isActArt==0 && isActCat==0" class="text-center home">
                        <img src="http://images.huffingtonpost.com/2016-08-07-1470589738-1502108-forex.jpg" with="300px" height="300px"></img> <br><br>
                        <h1 class="page-title entry-title" style="text-align: center;"><strong>What Is Forex?</strong></h1>
<div class="entry-content">
<p style="text-align: justify;"><strong>If you&rsquo;ve ever traveled to another country, you usually had to find a currency exchange booth at the airport, and then exchange the money you have in your wallet (if you&rsquo;re a dude) or purse (if you&rsquo;re a lady) or man purse (if you&rsquo;re a metrosexual) into the currency of the country you are visiting.</strong></p>
<p style="text-align: justify;"><strong>You go up to the counter and notice a screen displaying different exchange rates for different currencies. You find &ldquo;Japanese yen&rdquo; and think to yourself, &ldquo;WOW! My one dollar is worth 100 yen?! And I have ten dollars! I&rsquo;m going to be rich!!!&rdquo; (This excitement is quickly killed when you stop by a shop in the airport afterwards to buy a can of soda and, all of a sudden, half your money is gone.)</strong></p>
<p style="text-align: justify;"><strong>When you do this, you&rsquo;ve essentially participated in the forex market! You&rsquo;ve exchanged one currency for another. Or in forex trading terms, assuming you&rsquo;re an American visiting Japan, you&rsquo;ve sold dollars and bought yen.</strong></p>
<p style="text-align: justify;"><strong>Before you fly back home, you stop by the currency exchange booth to exchange the yen that you miraculously have left over (Tokyo is expensive!) and notice the exchange rates have changed. It&rsquo;s these changes in the exchanges rates that allow you to make money in the foreign exchange market.</strong></p>
<p style="text-align: justify;"><strong>The foreign exchange market, which is usually known as &ldquo;forex&rdquo; or &ldquo;FX,&rdquo; is the largest financial market in the world. Compared to the measly $22.4 billion per day volume of the New York Stock Exchange (NYSE), the foreign exchange market looks absolutely ginormous with its $5.3 TRILLION a day trade volume. Forex rocks our socks!</strong></p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
</div>

                    </div>
                    <!-- -->
                    
                    <!-- Category Information -->
                    
                    <div ng-show="isActCat>0 && isActArt==0">
                        <h2 style="text-align:center">{{selectedCategory.name}}</h2>
                        <div ng-bind-html="selectedCategory.description | unsafe">
                        </div>
                    </div>
                    
                    <!-- -->
                    
                    <div ng-show="isActArt>0 && isActCat>0">

                        <div class="article">
                            <h3 class="text-center">{{selectedarticle.name}}</h3>
                            <p class="pull-right">
                                Date : {{selectedarticle.date.substring(0,10)}}
                            </p>
                            <br>
                            <hr>
                            <div>
                                Description : <br> {{selectedarticle.description}}
                            </div>
                            <br>
                            <hr>
                            <div class="intro" ng-bind-html="selectedarticle.content | unsafe">
                               
                            </div>

                            <br>
                            <hr>

            </div>

                        <div class="commnets">

                            <div class="well bs-component col-lg-8">

                                <form class="form-horizontal" ng-submit="postcomment(comment)">
                                    <fieldset style="border:none">
                                        <legend>&nbsp; Comment Here</legend>
                                        <div class="row">

                                            <div class="form-group">
                                                <div>
                                                    <input type="text" class="form-control" id="txtuser" required placeholder="Please enter your full name here" ng-model="comment.user">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input type="email" class="form-control" id="txtemail" required placeholder="Email Address" ng-model="comment.email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <textarea class="form-control" name="content" ng-model="comment.content" required placeholder="type your commnet here"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="btnsubmit" class="btn btn-primary" value="{{isEdit==true?'Edit':'Submit'}}" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>

                            <div class="media" style="clear:both">
                                <div class="media-body col-lg-12" ng-repeat="comnt in commentlist | orderBy:'-date'">
                                    <h4 class="media-heading">{{comnt.user}}
                                        <small>{{comnt.date.substring(0,10)}} &nbsp;&nbsp; 
                            <a class="label label-warning" ng-click="editcomment(comnt)">edit</a>
                            <a class="label label-danger" ng-click="deletecomment(comnt.commentId)">delete</a></small>
                                    </h4>
                                    {{comnt.content}}

                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
